header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;

  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.201);

  .container {
    @include flex(row, center, space-between);
  }

  &.fixed-menu {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    z-index: 10;

    .logo {
      background-image: url("../imgs/l");
    }
    nav {
      ul {
        li {
          a {
            color: #5f5c6b;

            &:hover {
              color: #00a5f0;
            }
          }
        }
      }

      .btn-secondary {
        color: #00a5f0;
        border: 1px solid #00a5f0;

        &:hover {
          background-color: #00a5f0;
          color: #ffffff;
        }
      }
    }
  }

  .logo {
    display: inline-block;
    width: 13.2rem;
    height: 3rem;
    background: url(../imgs/logo.svg) no-repeat center center;
    background-size: 100%;
    transition: background-image 0.3s;
  }

  nav {
    display: flex;
    align-items: center;
    position: relative;

    .dropdown {
      position: absolute;
      top: 49px;
      left: -130px;
      width: 100%;
      max-width: 37.3rem;
      background: #ffffff;
      border-radius: 6px;
      padding: 4rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      z-index: 10;

      &.active {
        opacity: 1;
        pointer-events: all;
      }

      &:after {
        content: "";
        width: 29.3rem;
        height: 0.5rem;
        background: #ffc800;
        border-radius: 1.2rem 1.2rem 0;
        position: absolute;
        bottom: 0;
      }

      .item {
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 2.8rem;
        }

        &:hover {
          strong {
            color: #0073ce;
          }
        }

        strong {
          font-weight: 600;
          line-height: 1.9rem;
          color: #5f5c6b;
          display: block;
          margin-bottom: 0.4rem;
          transition: color 0.3s;
        }

        p {
          font-size: 1.4rem;
          line-height: 150%;
          color: #8c8a97;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      margin-right: 5.9rem;

      li {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }

        a {
          font-weight: 500;
          line-height: 125%;
          color: #ffffff;
          transition: color 0.3s;

          &:hover {
            color: $brand-yellow;
          }
        }
      }
    }
  }

  .btn-mobile {
    display: none;
    margin-left: 4rem;
  }

  @include responsive(1085px) {
    nav {
      ul {
        margin-left: 3rem;

        li {
          &:not(:first-child) {
            margin-left: 2.5rem;
          }
        }
      }
    }
  }

  @include responsive(991px) {
    .logo {
      max-width: 10.8rem;
    }
    nav {
      ul {
        display: none;
      }
    }
    .btn-mobile {
      display: block;
    }
  }

  @include responsive(480px) {
    height: 7.3rem;
    nav {
      .btn-secondary {
        display: none;
      }
    }
  }
}
